.admin-header {
    margin-bottom: 10px;
}

.admin-header-button {
    margin: 10px;

    a {
        color: white;
    }

    a:link {
        color: white;
    }
    a:visited {
        color: white;
    }
    a:hover {
        color: white;
    }
    a:active {
        color: white;
    }
}
