@import url('https://fonts.googleapis.com/css?family=Nunito|Poppins:500|Open+Sans');
@import "~bootstrap/scss/bootstrap";

body, html {
  color: rgba(0,0,0,.75);
  font-family: 'Nunito';
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}
