.category-list div.category-nav {
  margin: 0 auto;
  height: 36px;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.2px;
  border-bottom: 1px solid #ddd;

  ul.list-tab {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

    li {
      float: left;
    }
  }
  .main-category-item {
    font-size: 20px;
    position: relative;
    display: block;
  }

  .main-category-item.active {
    font-weight: bold;
  }

  .main-category-item.active:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -15px;
    width: 100%;
    height: 3px;
    background-color: #33CCCC;
  }

  .main-category-item:hover {
    cursor: pointer;
  }

  .main-category-item:hover:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -15px;
    width: 100%;
    height: 3px;
    background-color: #33CCCC;
  }
}

.sub-category-list {
  padding-top: 10px;
  padding-bottom: 10px;

  .sub-category-item:first-child {
    margin-left: 30px;
  }

  .sub-category-item {
    margin: 0 33px 0 0;
    font-size: 18px;
    line-height: 16px;
  }

  .sub-category-item:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

@media(min-width: 992px) {
  .main-category-item {
    margin-right: 40px;
  }
}

@media(max-width: 991px) {
  .main-category-item {
    margin-right: 10px;
  }
}