.header-item {
    margin-left: 50px;
    font-size: 32px;
}

.header-item2 {
    font-size: 25px;
}

.header-item2:hover {
    cursor: pointer;
}

.header-item2-container:last-child {
    margin-right: 50px;
}

.header {
    margin-bottom: 20px;
}

.navbar-item {
    color: white;
}
