.post-form-container {
    padding-bottom: 80px;
}

.post-form {
    border-radius: 16px;
}

.post-form-category-container {
    margin-bottom: 15px;
}

.post-form-contents {
    height: 400px;
    margin-top: 20px;
}

.post-form-button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
}
