.category-form-container {
    padding-bottom: 20px;
}

.category-form {
    border-radius: 16px;
}

.category-form-category-container {
    margin-bottom: 15px;
}

.category-form-contents {
    height: 400px;
    margin-top: 20px;
}

.category-form-button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 5px;
}

.admin-category-contents {
    margin-top: 15px;
    margin-left: -15px;
}
